@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}
