@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
}
h1 {
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.5;
}
p.lead {
  margin-top: 5px;
}
/* .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 90%;
  margin: 0 auto;
} */
.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  text-align: center;

  border-radius: 8px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.card-container:hover {
  transform: scale(1.05);
}
