@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 90%;
  margin: 0 auto;
}
.card-container {
  background-color: #ccc;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
}
